html {
    font-size: 100%;   
}

body {
    color: #24292e;
    font-family: "Sawarabi Gothic";
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-titlte {
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
}

.site-title a {
    color:#24292e;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/* header */
#header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2%;
    height: 170px;
}

#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

#header  ul li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header ul li a {
    color: #24292e;
    transition: all 0.3s;
}

#header ul li a:hover {
    opacity: 0.5;
}

#header li img.icon {
    width: 30px;
}

/* color cursor */
.circles {
    position: relative;
    background-color: #cccccc;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    background-color: green;
    width: 630px;
    height: 630px;
    margin: -315px 0 0 -315px;
}

.circle2 {
    background-color: red;
    width: 420px;
    height: 420px;
    z-index: 1;
    margin: -220px 0 0 -220px;
}

.circle3 {
    background-color: purple;
    width: 200px;
    height: 200px;
    z-index: 2;
    margin: -100px 0 0 -100px;
}

.cursor {
    position: fixed;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: -7.5px 0 0 -7.5px;
    user-select: none;
    pointer-events: none;
    z-index: 5;
}

.content {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    mix-blend-mode: screen;
    z-index: 4;
}

.content h1 {
    font-size: 12rem;
}

/* main */
#main {
    margin-bottom: 10px;
}

#main img {
    width: 100%;
    max-width: 1920;
    height: 1000px;
    object-fit: cover;
}

/* about */
#about ul {
    margin-bottom: 30px;
}

#about ul li {
    margin-bottom: 3px;
}

#about ul li:first-child {
    margin-bottom: 30px;
}

/* contents */
#contents ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

#contents ul li {
    width: 31%;
    margin-bottom: 23px;
}

#contents ul li img {
    cursor: pointer;
    transition: all 0.3s;
}

#contents ul li img:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
}

/* news */
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c8c8c8;
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

#news dd {
    width: 80%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

/* contact */
#contact p {
    text-align: center;
    margin-bottom: 20px;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width: 15%;
    margin-bottom:10px;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    border: 1px solid #24292e;
    background-color: #24292e;
    width: 200px;
    padding: 15px 0;
    color: #fff;
    transition: all 0.3s;
}

#contact .button input:hover {
    background-color: #fff;
    color: #24292e;
}


/* sp */
@media screen and (max-width: 600px) {
    .site-title {
        margin-top: 20px;
    }
    /* header */
    #header {
        flex-direction: column;
        height: auto;
        line-height: 40px;
        margin-top: 20px;
    }

    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    #header li img.icon {
        width: 20px;
        margin-top: 15px;
    }

    /* contents */
    #contents ul {
        flex-direction: column;
    }

    #contents ul li {
        width: 100%;
    }

    /* news */
    #news dl {
        flex-direction: column;
    }

    #news dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    #news dd {
        width: 100%;
        padding-top: 0;
    }

    /* contact */
    #contact dl {
        flex-direction: column;
    }

    #contact dt {
        width: 100%;
        margin-bottom: 5px;
    }

    #contact dd {
        width: 100%;
    }
}